In [2]:
import scipy.stats as st
import numpy as np

# Confidence Interval

In [3]:
# Create Data
x = np.random.normal(size=100)

In [4]:
sample_mean = np.mean(x)
sample_mean

0.15151263161619186

In [5]:
# Standard Errror
# it indicates how different population mean is likely to be from the sample mean .
# std_error = std. dev / sqrt(n)

std_error = st.sem(x)
std_error

0.10693722539859193

In [6]:
# Confidence Interval Value

z_value = st.norm.ppf(1-0.05)  #(1- alpha)
z_value

1.6448536269514722

In [7]:
lowerCI = sample_mean - z_value*std_error
upperCI = sample_mean + z_value*std_error
print(lowerCI, upperCI)

-0.024383451436809173 0.32740871466919286

# Hypothesis Testing

### 1 Sample T test ( n <= 30)

it checks if the average of sample is equal to average of population

In [8]:
# lets assume the evrage height of class 10th students in india is 165 cm

H0 = average height is 165 cm

H1 = average height is not 165 cm

In [9]:
from random import sample #create randomly distributed data

In [10]:
sample1 = sample(range(145,180),30) # sample(range,number of samples)

In [11]:
from scipy.stats import ttest_1samp

In [12]:
ttest_1samp(a=sample1,popmean=165)

TtestResult(statistic=-1.7319959654630337, pvalue=0.09390011087483463, df=29)

as p < 0.05 we will reject the null hypothesis

## 2 sample t-test ( n <= 30)

Compare means of two Samples

s1=male
s2=female

h0=means are equal
h1=means are not equal

In [13]:
sample_1 = sample(range(145,185),30)
sample_2 = sample(range(135,165),30)

In [14]:
from scipy.stats import ttest_ind

In [15]:
ttest_ind(sample_1,sample_2)

TtestResult(statistic=5.645464657005269, pvalue=5.194531489328282e-07, df=58.0)

as p < 0.05 we will reject the null hypothesis

## paired t-test ( n <= 30)

h0 = mean are equal  h1 = mean are not equal

In [16]:
sample1 = sample(range(135,185),30)
sample2 = sample(range(135,185),30)

In [17]:
from scipy.stats import ttest_rel

In [18]:
ttest_rel(sample1,sample2)

TtestResult(statistic=0.22878787397762732, pvalue=0.8206395497199241, df=29)

as p > 0.05 , we will accept the null hypothesis

## F-test ( n <= 30)

It compares variance of two samples

In [19]:
import scipy

In [20]:
sample1 = sample(range(0,100),30)
sample2 = sample(range(20,80),30)

In [21]:
f_stat = np.var(sample1)/np.var(sample2)
p = 1 - scipy.stats.f.cdf(f_stat,len(sample1)-1,len(sample2)-1)

In [22]:
print(f_stat,p)

2.907362049597906 0.0026685350167638955

p < 0.05 ,we reject the null hypothesis

## one-way Anova

we have to check if the effect of 4 different performance enhancers on EV is same or not .

4-samples are taken each sample having one enhancer attached

H0=the performance averages are equal
h1=performance averages are not equal

In [23]:
sample1=sample(range(0,120),20)
sample2=sample(range(0,95),20)
sample3=sample(range(0,100),20)
sample4=sample(range(0,145),20)

In [24]:
from scipy.stats import f_oneway

In [25]:
f_oneway(sample1,sample2,sample3,sample4)

F_onewayResult(statistic=2.607705955108741, pvalue=0.057700995958410765)

as p > 0.05 , we don not have enough evidence to reject null hupothesis

## Two-way Anova

h0=there is no significance of the two factors on response variable

h1=there no significance of the two factors on response variable

The two factors here are tuition and lecture

In [26]:
x = {"lectures":np.repeat(["daily","weekly"],20),
    "tuition":np.repeat(["daily","weekly"],20),
    "marks": sample(range(35,100),40)}

In [27]:
import pandas as pd

In [28]:
x = pd.DataFrame(x)
x.head()

  lectures tuition  marks
0    daily   daily     87
1    daily   daily     89
2    daily   daily     99
3    daily   daily     78
4    daily   daily     94

In [29]:
from statsmodels.formula.api import ols

In [30]:
model = ols('marks~C(lectures) + C(tuition) + C(lectures):C(tuition)',
           data=x).fit()

In [31]:
import statsmodels.api as sm

In [32]:
sm.stats.anova_lm(model)

                          df        sum_sq      mean_sq         F    PR(>F)
C(lectures)              1.0   2073.600000  2073.600000  5.526497  0.024021
C(tuition)               1.0    314.610240   314.610240  0.838490  0.365604
C(lectures):C(tuition)   1.0    870.836838   870.836838  2.320929  0.135924
Residual                38.0  14258.000000   375.210526       NaN       NaN

as p > 0.05 , no enough evidence to reject the null hypothesis

# Z-test (n>>30)

## 1-sample z-test

### average wt of a high schooler pre pandemic was 55kg.is it same now?

h0=average wt is same after pandemic

h1=average wt is not same after pandemic

In [33]:
from random import sample

In [34]:
sample1=sample(range(25,85),50)

In [35]:
from statsmodels.stats.weightstats import ztest

In [36]:
ztest(sample1,value=55)

(-0.02323826525285433, 0.9814602155829621)

as p > 0.05 , we do not have enough evidence to reject the null hypothesis

## 2-sample z-test

### is the average height of class 10th student in school A and school B same ?

h0=mean difference is zero
h1=mean difference is not zero

In [37]:
sample_a=sample(range(120,180),50)
sample_b=sample(range(130,190),50)

In [38]:
ztest(sample_a,sample_b,value=0)

(-2.8961240252821097, 0.0037780305242947083)

as p < 0 , we have enough evidence to reject the null hypothesuis

## Hands on example for 1-sample z-test for proportions

In [39]:
import pandas as pd

In [40]:
purchase = pd.read_csv("purchase.csv")

In [41]:
purchase

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,1000001,P00069042,F,0-17,10.0,A,2,0.0,3.0,NaN,NaN,8370.0
1,1000001,P00248942,F,0-17,10.0,A,2,0.0,1.0,6.0,14.0,15200.0
2,1000001,P00087842,F,0-17,10.0,A,2,0.0,12.0,NaN,NaN,1422.0
3,1000001,P00085442,F,0-17,10.0,A,2,0.0,12.0,14.0,NaN,1057.0
4,1000002,P00285442,M,55+,16.0,C,4+,0.0,8.0,NaN,NaN,7969.0
...,...,...,...,...,...,...,...,...,...,...,...,...
277391,1000780,P00029242,M,26-35,17.0,B,3,0.0,8.0,NaN,NaN,6094.0
277392,1000780,P00304742,M,26-35,17.0,B,3,0.0,8.0,NaN,NaN,5959.0
277393,1000780,P00218242,M,26-35,17.0,B,3,0.0,5.0,8.0,NaN,5173.0
277394,1000780,P00137442,M,26-35,17.0,B,3,0.0,8.0,12.0,NaN,6016.0
277395,100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

it was observed that 35% of women spent more than 10000 . is this true also for the population ?

h0=proportion is same
h1=proportion is not same

In [42]:
# no of people who have sale greater than 10000

data_new = purchase[purchase['Purchase'] > 10000]
data_new.head()

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
1,1000001,P00248942,F,0-17,10.0,A,2,0.0,1.0,6.0,14.0,15200.0
5,1000003,P00193542,M,26-35,15.0,A,3,0.0,1.0,2.0,NaN,15227.0
6,1000004,P00184942,M,46-50,7.0,B,2,1.0,1.0,8.0,17.0,19215.0
7,1000004,P00346142,M,46-50,7.0,B,2,1.0,1.0,15.0,NaN,15854.0
8,1000004,P0097242,M,46-50,7.0,B,2,1.0,1.0,16.0,NaN,15686.0

In [43]:
len(purchase['Purchase'])

277396

In [44]:
# women buyers in 10000+ category

countf = len(data_new[data_new['Gender']=='F'])
countf

19809

In [45]:
# number of total obsevations are
nobs_total = len(data_new['Gender'])
nobs_total

96052

In [46]:
from statsmodels.stats.proportion import proportions_ztest

In [47]:
proportions_ztest(count=countf,nobs=nobs_total,value=0.35)

(-110.12615122484837, 0.0)

as p < 0.05 , we have enough evidence to reject the null hypothesis

## Hands on example for 2-sample z-test for proportions

Is the percentage % of men who spend more than 10000 same for age groups 18-25 and 26-35 ?

h0=proportion is same
h1=proportion is not same

In [48]:
data_age1 = data_new[data_new['Age']=='18-25']
data_age2 = data_new[data_new['Age']=='26-35']

In [49]:
# creating 1000 samples for both age groups including both men and women .
# sample function generates new sample everytime program is run , to adjust the sample function,
#so that we use same sample again and again we use random_state = 0 as parameter 

data_age1_sample = data_age1.sample(1000,random_state=0) 
data_age2_sample = data_age2.sample(1000,random_state=0)

In [50]:
# counting Number of males in both age groups

count_males =[len(data_age1_sample[data_age1_sample['Gender']=='M']),
        len(data_age2_sample[data_age2_sample['Gender']=='M'])]
count_males

[790, 833]

In [51]:
#calculating total of both males and females in each age group

nobs_total = [len(data_age1_sample),len(data_age2_sample)]
nobs_total

[1000, 1000]

in the 1-sample z-test , count takes one value while here count takes list of two values , also we have to calculate percentage of men in their respective groups . so we have to count both men as well as whole .

In [52]:
proportions_ztest(count_males,nobs_total,value=0)

(-2.4584054973552485, 0.013955550040221653)

as p < 0.05 , we have enough evidence to reject the null hypothesis.

## chi quare test of independence

is purchase independent of product_category_1 ?

h0 = they are not related 
h1=they are related

In [53]:
purchase

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,1000001,P00069042,F,0-17,10.0,A,2,0.0,3.0,NaN,NaN,8370.0
1,1000001,P00248942,F,0-17,10.0,A,2,0.0,1.0,6.0,14.0,15200.0
2,1000001,P00087842,F,0-17,10.0,A,2,0.0,12.0,NaN,NaN,1422.0
3,1000001,P00085442,F,0-17,10.0,A,2,0.0,12.0,14.0,NaN,1057.0
4,1000002,P00285442,M,55+,16.0,C,4+,0.0,8.0,NaN,NaN,7969.0
...,...,...,...,...,...,...,...,...,...,...,...,...
277391,1000780,P00029242,M,26-35,17.0,B,3,0.0,8.0,NaN,NaN,6094.0
277392,1000780,P00304742,M,26-35,17.0,B,3,0.0,8.0,NaN,NaN,5959.0
277393,1000780,P00218242,M,26-35,17.0,B,3,0.0,5.0,8.0,NaN,5173.0
277394,1000780,P00137442,M,26-35,17.0,B,3,0.0,8.0,12.0,NaN,6016.0
277395,100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [54]:
# convert purchase column from continuous to categorial using pd.cut function
purchase['Purchase'] = pd.cut(purchase['Purchase'],bins=[0,10000,23961],labels=[0,1])
purchase['Purchase'].head()

0    0
1    1
2    0
3    0
4    0
Name: Purchase, dtype: category
Categories (2, int64): [0 < 1]

In [55]:
cross_table=pd.crosstab(purchase['Purchase'],purchase['Product_Category_1'])
cross_table

Product_Category_1,1.0,2.0,3.0,4.0,5.0,6.0,7.0,8.0,9.0,10.0,11.0,12.0,13.0,14.0,15.0,16.0,17.0,18.0
Purchase,,,,,,,,,,,,,,,,,,
0,13268,5040,3738,5993,76902,940,173,54715,49,124,12260,1994,2796,146,746,826,89,1544
1,58025,7092,6543,0,0,9291,1717,3303,161,2478,0,0,0,613,2440,4174,215,0

In [56]:
import scipy

In [57]:
scipy.stats.chi2_contingency(cross_table)

Chi2ContingencyResult(statistic=180882.62707775173, pvalue=0.0, dof=17, expected_freq=array([[46606.77553308,  7931.12087817,  6721.05619424,  3917.8377368 ,
        50273.57878116,  6688.36941185,  1235.5603742 , 37928.43480957,
          137.28448602,  1701.02015537,  8014.79904108,  1303.54888156,
         1827.84487103,   496.18535662,  2082.80177364,  3268.67823861,
          198.73563691,  1009.36784008],
       [24686.22446692,  4200.87912183,  3559.94380576,  2075.1622632 ,
        26628.42121884,  3542.63058815,   654.4396258 , 20089.56519043,
           72.71551398,   900.97984463,  4245.20095892,   690.45111844,
          968.15512897,   262.81464338,  1103.19822636,  1731.32176139,
          105.26436309,   534.63215992]]))

as p < 0.05 , we have enough evidence to reject the null hypothesis